body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(53, 57, 59, 0.479);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding:20px;
    padding-bottom:20px;
    text-align: center;
    font-size:20px;
    margin:20px;
    border-radius: 8px;


}
section{
    background:white;
    margin:20px;
    padding:20px;
    border-radius: 8px;
    
}
h2{
    border-bottom:2px solid grey;
    padding-bottom:5px;
    text-align: center;
}
summary,li.felsorolas{
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    background-color: rgb(0, 191, 255);
    padding: 8px; 
    border-radius: 8px; 
}

.felsorolas a{
    text-decoration: none;
    color:black;
}
.felsorolas a:hover{
    text-decoration:underline;
}
details.megnyitva[open] > summary {
  background-color:rgb(8, 151, 151);
  color: white;
}
